/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --color-accent: #00a8e8ff; /* celeste secondario */
    --color-background: #f2f2f2; /* Sfondo bianco e testi bianchi */
    --color-text: #202124;     /* Testo nero */
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

p {
    color: var(--color-text);
}

/* TRANSITIONS */
a, .btn {
    transition: color 300ms ease, text-decoration-color 300ms ease;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

a:hover {
    color: var(--color-background);
}

/* DESKTOP NAV */
nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 80px; /* Altezza fissa per maggiore coerenza */
}

.nav-links {
    gap: 2rem;
    list-style-type: none;
    font-size: 1.5rem;

}

.logo {
    font-size: 1.5rem;
}

/* HAMBURGER MENU */
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger-icon { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    position: relative;
}

.hamburger-icon span {
    display: block;
    background: black;
    height: 3px;
    width: 100%;
    transition: all 300ms ease-in-out;
}

.menu-links {
    display: none; /* Nascondi inizialmente */
    flex-direction: column;
    align-items: center; /* Centrato */
    background-color: transparent;
    position: absolute;
    top: 60px;
    left: 0;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    padding: 1rem 0;
}

.menu-links.open {
    display: flex; /* Mostra il menu quando aperto */
}

.menu-links a {
    display: block;
    padding: 15px 20px;
    text-align: center;
    font-size: 1.2rem; /* Font adattabile su schermi piccoli */
    color: var(--color-text);
    text-decoration: none;
    word-wrap: break-word; /* Permetti il ritorno a capo per testi lunghi */
    width: 100%; /* Occupare l’intera larghezza del contenitore */
}

.menu-links a:hover {
    background-color: var(--color-background); /* Colore di sfondo per hover */
}

.menu-links li {
    list-style: none;
}

/* Animazione hamburger */
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

/* SECTIONS */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container  {
    display: flex;
}

/* PROFILE */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    max-width: 100%;
    object-fit: contain;
    display: grid;
    margin: auto 0;   
    justify-items: center;

}

.section__text{
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#social-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICON */

.icon {
     cursor: pointer;
     height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 20px;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    background: #f2f2f2; /* Stato di default: grigio chiaro */
    color: #333; /* Testo scuro per contrasto */
    border: none;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    background: #00a8e8ff; /* Stato di hover: blu */
    color: white; /* Testo bianco per contrasto */
    box-shadow: 0 4px 8px rgba(0, 168, 232, 0.3); /* Effetto ombra */
    transform: translateY(-2px); /* Leggero sollevamento al passaggio del mouse */
}

.btn-color-1, .btn-color-2 {
    /* Uniformiamo gli stili base */
    border: none;
}

.btn-color-1 {
    background: #f2f2f2;
    color: var(--color-text);
}

.btn-color-1:hover {
    background: #00a8e8ff;
    color: white;
}

.btn-color-2 {
    background: #f2f2f2;
    color: var(--color-text);
}

.btn-color-2:hover {
    background: #00a8e8ff;
    color: white;
}

/* Miglioramenti generali */
.btn-container {
    gap: 1.5rem; /* Maggiore spazio tra i bottoni */
    padding-bottom: 20px;
}




.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  background-color: #f5f5f5; /* Light background for contrast */
}

.container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  gap: 20px; /* Space between left and right containers */
}

.about-image img {
  width: 100%;
  max-width: 100%;
  border-radius: 24px; /* Adds rounded corners to the image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0); /* Adds subtle shadow */
}

.about-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-description h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-description p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 15px;
  color: var(--color-text); /* Dark text for readability */
}

.highlight {
  color: var(--color-accent); /* Highlighted text color */
  font-weight: bold;
}

/*Project*/

#projects {
    padding: 50px 20px;
    background-color: #f9f9f9; /* Light background for contrast */
}

.projects-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.projects-container h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: var(--color-text);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.project-card:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Enhance shadow */
}

.project-image {
    width: auto;
    height: 50%;
}

.project-content {
    padding: 22px;
}

.project-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--color-text ); /* Highlighted text color */
}

.project-content p {
    font-size: 1rem;
    margin-bottom: 16px;
    color: var(--color-text);
}

.project-link {
    text-decoration: none;
    color:var(--color-text);
    background-color: var(--color-background);
    padding: 10px 16px;
    border-radius: 1.5rem;
    transition: background-color 0.3s ease;
}

.project-link:hover {
    color: white;
    background-color: var(--color-accent);
}

/*Contact ME*/

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
    flex: auto;
}

.contact-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #222;
    font-size: 2.2rem;
    font-weight: bold;
}

.contact-form {
    text-align: center;
    background: linear-gradient(145deg, #ffffff, #f1f1f1);
    border-radius: 24px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    max-width: 600px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1rem;
    color: var(--color-text);
}

input,
textarea {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
    background: #f2f2f2; /* Colore di default */
    color: var(--color-text); /* Testo scuro */
}

input:focus,
textarea:focus {
    border-color: var(--color-accent); 
    box-shadow: 0 0 8px rgba(0, 168, 232, 0.5); /* Glow effetto focus */
    outline: none;
}

button[type="submit"] {
    background: var(--color-accent); /* Stato di default */
    color: #333; /* Testo scuro */
    border: none;
    padding: 12px 25px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}

button[type="submit"]:hover {
    background: var(--color-accent); 
    color: white; /* Testo bianco */
    box-shadow: 0 4px 8px rgba(0, 168, 232, 0.3); /* Glow effetto hover */
    transform: translateY(-2px); /* Sollevamento al passaggio */
}


.image-container {
    flex: shrink;
    max-width: 600px;
}

.image-container {
    display: flex;
    flex: auto;
    width: fit-content;
}

textarea {
    resize: none;
    height: 120px;
}


/*CV SECTION*/

.cv-section {
    padding: 2rem;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .cv-section h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .cv-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  /* Card Styles */
  .cv-card {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: calc(33.33% - 2rem); /* Three cards per row */
    text-align: left;
  }
  
  .cv-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-text);
  }
  
  .cv-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .cv-card ul li {
    margin-bottom: 1rem;
  }
  
  .cv-card ul li strong {
    color: var(--color-text);
  }
  
  .cv-card ul li p {
    font-size: 0.9rem;
    color: #555555;
  }
  

    /* Footer*/

    

body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
footer {
        background-color:var(--color-accent);
        color: var(--color-text);
        padding: 20px 0;
        text-align: center;
}
    
.footer-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
}
    
.footer-links,
.footer-socials {
        margin: 10px 0;
 }
    
 .footer-links a,
 .footer-socials a {
     color: var(--color-background);
     text-decoration: none;
     margin: 0 15px;
     transition: color 0.3s;
 }
    
.footer-links a:hover,
.footer-socials a:hover {
        color: var(--color-background); /* Change to your preferred hover color */
 }
    
 footer p {
        margin-top: 10px;
        font-size: 14px;
}